html, body {
	background-image: url('imgs/background.png');
	background-size: cover;
	background-repeat: no-repeat;
	color: #e6e6e6;
	scroll-behavior: smooth;
}

.mintButton {
	display: inline-block;
  border: 1px solid #59afff;
  font-size: 20px;
  background-color: #ffffff;
  padding: 20px;
  margin:  10px;
}

.navbar {
  font-size: 20px;
  height: 5vw;
  z-index: 2;
  opacity: 97%;
}

.navbar a {
  color: black;
  text-align: center;
}

.nav-item {
	margin: 0 1vw 0 1vw;
}

.nav-item a {
	width: 10vw;
}

.navbar-brand img {
	width: 3.5em;
	height: 3.5em;
}

.container {
	margin-top: 15px;
	max-width: 70%
}

section {
	margin: 100px;
	padding: 50px;
}

.leftAlign {
	text-align: left;
}

.center {
	text-align:  center;
}

.roadmap-item {
	background-color: #31abd4;
	display: block;
	padding:  20px;
	margin:  10px;
	text-align: left;
}