html, body {
	background-color: black;
	background-image: url('imgs/background.png');
	background-size: 1772px;
	background-position: top;
	background-repeat: no-repeat;
	scroll-behavior: smooth;
	font-size:calc(6px + 1.3vw);
	font-family: "Arial";
	margin:  0;
}

.navbar {
	display: grid;
	grid-template-columns: 2.878% 11.06% 2.878% 66.37% 2.878% 11.06% 2.878%;
  margin: 8px;
}

@media screen and (min-width: 920px) {
  .navbar {
    display: grid;
		grid-template-columns: calc(calc(100% - 800px) * 0.25) 100px calc(calc(100% - 800px) * 0.25) 600px calc(calc(100% - 800px) * 0.25) 100px calc(calc(100% - 800px) * 0.25);
  }
  body {
     font-size: 18px;
  }
}


.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.nav-menu {
	display: grid;
	grid-template-columns: 20.5% 20.5% 20.5% 20.5%;
	grid-column-gap: 6%;
	grid-column-start: 4;
  grid-column-end: 5;
}

.nav-logo {
  grid-column-start: 2;
  grid-column-end: 3;
}

.nav-logo img {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	max-width: 100px;
	border-radius:  3px;
}

.nav-item {
	background-color: rgba(249,239,225,0.9);
	border-radius:  3px;
	padding:  2px;
	text-align: center;
	margin: auto;
	width:  100%;
}

.nav-item a {
	text-decoration: none;
	color:  black;
}

.container {
	margin: auto;
  width: 90%;
  max-width: 800px;
}

section {
	margin: 100px 0 100px 0;
	padding: 35px;
	background-color: rgba(0,0,0,0.75);
	color:  white;
	border-radius:  3px;
}

.mintButton a {
	display: inline-block;
  border: 1px solid #59afff;
  font-size: 24px;
  background-color: #ffffff;
  padding: 15px;
  margin:  10px;
  text-decoration: none;
  color:  black;
}

.leftAlign {
	text-align: left;
}

.center {
	text-align:  center;
}

.roadmap-item {
	background-color: #31abd4;
	display: block;
	padding:  20px;
	margin:  10px;
	text-align: left;
	opacity: 2;
}