html, body {
	background-image: url('imgs/background.png');
	background-repeat: no-repeat;
	scroll-behavior: smooth;
	background-position: top;
	font-size:calc(8px + 1.08vw);
	/*font-size: 18px;*/
	font-family: "Arial";
}

@media screen and (min-width: 920px) {
  body {
     font-size: 18px;
  }
}

.navbar {
	display: grid;
	grid-template-columns: 5% 10% 5% 60% 5% 10% 5%;
  margin: 0 6% 0 6%;
}

@media screen and (min-width: 920px) {
  .navbar {
    display: grid;
		grid-template-columns: calc(calc(100% - 700px) * 0.2) 100px calc(calc(100% - 700px) * 0.3) 500px calc(calc(100% - 700px) * 0.3) 100px calc(calc(100% - 700px) * 0.2);
  }
}


.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.nav-menu {
	display: grid;
	grid-template-columns: 19% 19% 19% 19%;
	grid-column-gap: 8%;
	grid-column-start: 4;
  grid-column-end: 5;
}

.nav-logo {
  grid-column-start: 2;
  grid-column-end: 3;
}

.nav-logo img {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	max-width: 100px;
}

.nav-item {
	text-align: center;
	margin: auto;
	width:  100%;
	outline: 1px solid red;
}

.nav-item a {
	text-decoration: none;
	color:  black;
}

.container {
	margin: auto;
  width: 90%;
  max-width: 800px;
}

section {
	margin: 100px 0 100px 0;
	padding: 35px;
	background-color: rgba(0,0,0,0.75);
	color:  white;
}

.mintButton {
	display: inline-block;
  border: 1px solid #59afff;
  /*font-size: 24px;*/
  background-color: #ffffff;
  padding: 15px;
  margin:  10px;
}

.leftAlign {
	text-align: left;
}

.center {
	text-align:  center;
}

.roadmap-item {
	background-color: #31abd4;
	display: block;
	padding:  20px;
	margin:  10px;
	text-align: left;
	opacity: 2;
}